@use "../utils/variables";

.carousel {
	&__title {
		font-size: var(--font-size-secondary-heading);
		text-align: center;
	}

	&__dots-container {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 5em;
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}

	&__dots {
		width: 20px;
		height: 20px;
		border-radius: 100vmax;
		border: 1px solid var(--accent-color-400);
		background-color: transparent;

		&.active {
			background-color: var(--accent-color-400);
		}
	}

	&__cta-button {
		justify-self: center;
	}

	&__btn {
		display: none;
		grid-row: 1 / 4;
		width: 40px;
		height: 40px;
		padding: 1em;
		font-size: 3rem;
		border-radius: 100vmax;
		background-color: var(--accent-color-400-super-light);
		align-self: center;

		&--left {
			grid-column: 1 / 2;
		}

		&--right {
			grid-column: 3 / 4;
			justify-self: end;
		}
	}
}

.carousel-main-content {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	margin-top: 10em;
}

.carousel-container {
	height: 400px;
	grid-column: 2;
	grid-row: 2;
	overflow-x: clip;
}

.carousel-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: clamp(2em, 7vw, 4em);
	height: 100%;
	background-color: var(--neutral-color-900-light);
	transition: transform 0.7s;

	&__person-name {
		font-size: var(--font-size-third-heading);
	}

	&__testimonial {
		font-size: var(--font-size-400);
		text-align: center;
	}

	&__img {
		position: absolute;
		top: -15%;
		width: 120px;
		height: 120px;
	}

	&[data-slide="1"] {
		transform: translateX(0%) translateY(0%);
	}

	&[data-slide="2"] {
		transform: translateX(100%) translateY(-100%);
	}

	&[data-slide="3"] {
		transform: translateX(200%) translateY(-200%);
	}

	&[data-slide="4"] {
		transform: translateX(300%) translateY(-300%);
	}
}

@media (min-width: variables.$tablet-breakpoint) {
	.carousel {
		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.carousel-main-content {
		column-gap: 3em;
	}

	.carousel-section {
		&__img {
			width: 144px;
			height: 144px;
			top: -18%;
		}
	}
}

@media (min-width: variables.$desktop-breakpoint) {
	.carousel-section {
		&__testimonial {
			max-width: 75%;
		}
	}
}
