@use "../utils/variables";

.nav {
	padding: 1.5em 0;

	&__logo {
		a {
			padding: 2em;
			margin-top: 1em;
		}
	}

	&__item {
		font-size: var(--font-size-nav);
	}

	&__link {
		padding: 1em;
		color: var(--primary-color-400);
		transition: opacity 0.3s;

		&:hover,
		&:focus-visible {
			opacity: 0.4;
		}
	}

	&__list {
		display: flex;

		&--mobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2em;
		}
	}

	&:is(.nav-mobile) {
		padding: 0;
		overflow: hidden;
	}
}

.nav-desktop {
	position: sticky;
	top: 0;
	background-color: rgb(255, 255, 255, 0.6);
	backdrop-filter: blur(7px);
	z-index: 10;
}

.nav-mobile {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	visibility: hidden;
	transition: visibility 0.6s;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		background-image: linear-gradient(
			to top,
			rgb(0, 0, 0),
			rgb(59, 59, 59),
			rgb(119, 119, 119),
			rgb(185, 185, 185),
			rgb(255, 255, 255)
		);
		transition: opacity 0.6s;
	}
}

.nav-mobile.active {
	visibility: visible;

	&::after {
		opacity: 1;
	}
}

.nav:is(.footer-nav) {
	padding: 0;
}

@media (min-width: variables.$desktop-breakpoint) {
	.nav-mobile {
		display: none;
	}
}
